<section class="service-apointment-area pt-130 c-relative pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cm-contact-2-content wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="section-title mb-30">
                        <h5 class="mb-10">Appointment</h5>
                        <h2 class="mb-20">Request an appointment</h2>
                    </div>
                    <div class="cm-contact-2-info">
                        <a class="cm-contact-tel" href="tel:+8477703332">+847-770-3332</a>
                        <a class="cm-contact-email" href="mailto:pysmichael@gmail.com">pysmichael@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="main-apoinment cm-main-apoinment wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="form-here">
                        <form name="appointment" netlify>
                            <div class="row">
                                <div class="col-lg-6 mb-30">
                                    <div class="form-colum cm-form-colum-2">
                                        <input type="text" name="name" placeholder="Full Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-30">
                                    <div class="form-colum cm-form-colum-2">
                                        <input type="text" name="email" placeholder="Email Address" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-30">
                                    <div class="form-colum cm-form-colum-2">
                                        <input type="text" name="number" placeholder="Phone Number" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-30">
                                    <div class="apointment-btn cm-form-button-2">
                                        <button type="submit" class="cm-btn cm-btn-transparent">
                                            <span class="explore-text" data-text="Request">Request</span> 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>