<div class="cm-faq-area p-relative pt-120">
    <img class="cm-faq-bg-pattern" src="assets/img/faq/pattern.png" alt="">
    <div class="cm-faq-2-thumb cm-thumb">
        <div class="cm-thumb-overlay wow"></div>
        <img class="w-100" src="assets/img/faq/bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="cm-faq-wrapper cm-faq-wrapper-1">
                    <div class="section-title mb-30  wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <h5 class="mb-10">Ask question</h5>
                        <h2 class="mb-30">Free ask question?</h2>
                    </div>
                    <div class="accordion" id="general_faqaccordion">
                        <div class="accordion-item  wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <h2 class="accordion-header" id="order_one">
                            <button class="accordion-button cm-faq-btn-2" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_one" aria-expanded="true" aria-controls="order__collapse_one">
                            How long should a business plan be?
                            <span class="accordion-btn"></span>
                            </button>
                        </h2>
                        <div id="order__collapse_one" class="accordion-collapse collapse show" aria-labelledby="order_one" data-bs-parent="#general_faqaccordion">
                            <div class="accordion-body cm-faq-para">
                            <p>There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item  wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                        <h2 class="accordion-header" id="order_two">
                            <button class="accordion-button collapsed cm-faq-btn-2" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_two" aria-expanded="false" aria-controls="order__collapse_two">
                                What is included in your services?
                                <span class="accordion-btn"></span>
                            </button>
                        </h2>
                        <div id="order__collapse_two" class="accordion-collapse collapse" aria-labelledby="order_two" data-bs-parent="#general_faqaccordion">
                            <div class="accordion-body cm-faq-para">
                                <p>There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item  wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                        <h2 class="accordion-header" id="order_three">
                            <button class="accordion-button collapsed cm-faq-btn-2" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_three" aria-expanded="false" aria-controls="order__collapse_three">
                            What type of company is measured?
                            <span class="accordion-btn"></span>
                            </button>
                        </h2>
                        <div id="order__collapse_three" class="accordion-collapse collapse" aria-labelledby="order_three" data-bs-parent="#general_faqaccordion">
                            <div class="accordion-body cm-faq-para">
                            <p>There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humour.randomised words believable.</p>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item  wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                        <h2 class="accordion-header" id="order_four">
                            <button class="accordion-button collapsed cm-faq-btn-2" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_four" aria-expanded="false" aria-controls="order__collapse_four">
                            What type of company is measured?
                            <span class="accordion-btn"></span>
                            </button>
                        </h2>
                        <div id="order__collapse_four" class="accordion-collapse collapse" aria-labelledby="order_four" data-bs-parent="#general_faqaccordion">
                            <div class="accordion-body cm-faq-para">
                            <p>There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humour.randomised words believable.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>