		<!-- footer-area-start -->
		<footer class="cm-section-plr-3 creame-bg">
			<div class="footer-area pt-120 pb-70">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-5 col-sm-8 mb-30">
							<div class="footer-colum-single cm-2-footer-colum-single">
								<div class="footer-logo mb-35">
									<img src="assets/img/logo/logo.png" alt="logo">
								</div>
								<p class="mb-35">
									Phasellus ultricies aliquam volutpat ullamcorper laoreet neque, a lacinia curabitur lacinia mollis
								</p>
								<div class="footer-social">
									<ul>
										<li>
											<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#">
												<svg width="14" height="14" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.33161 6.77486L15.1688 0H13.7856L8.71722 5.8826L4.66907 0H0L6.12155 8.89546L0 16H1.38336L6.73581 9.78785L11.0109 16H15.68L9.33148 6.77486H9.33187H9.33161ZM7.43696 8.97374L6.81669 8.088L1.88171 1.03969H4.00634L7.98902 6.72789L8.60929 7.61362L13.7863 15.0074H11.6616L7.43709 8.974V8.97361L7.43696 8.97374Z" fill="currentColor" />
												</svg>
											</a>
										</li>
										<li>
											<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa-brands fa-youtube"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="link-colum">
								<div class="row">
									<div class="col-lg-6 col-md-6 mb-30">
										<div class="footer-colum-single cm-2-footer-colum-single">
											<h2>Useful link</h2>
											<div class="footer-page-link">
												<ul>
													<li>
													  <a href="about.html"><i class="fa-sharp fa-regular fa-circle-check"></i>About Us</a>
													</li>
													<li>
													  <a href="shop.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Shop Page</a>
													</li>
													<li>
													  <a href="pricing.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Our Pricing </a>
													</li>
													<li>
													  <a href="appointment.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Appointment</a>
													</li>
													<li>
													  <a href="contact.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Contact Us</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 mb-30">
										<div class="footer-colum-single footer-position cm-2-footer-colum-single">
											<h2>Our services</h2>
											<div class="footer-page-link">
												<ul>
													<li>
													  <a href="physiotherapy.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Physiotherapy</a>
													</li>
													<li>
													  <a href="chiropractic-therapy.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Chiropractic Therapy</a>
													</li>
													<li>
													  <a href="clinical-pilates.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Clinical Pilates </a>
													</li>
													<li>
													  <a href="work-injuries.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Work Injuries</a>
													</li>
													<li>
													  <a href="massage-therapy.html"><i class="fa-sharp fa-regular fa-circle-check"></i>Massage Therapy</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-7 col-sm-8 mb-30">
							<div class="footer-colum-single cm-2-footer-colum-single sinfle-footer-contact">
								<h2>Newsletter</h2>
								<p class="mb-20">Sign Up For News & Get 30% Off in New User.</p>
								<div class="footer-form">
									<form action="#">
										<input class="mb-10" type="text" name="email" placeholder="Your email address">
										<button type="submit">SUBSCRIBE NOW</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-botom footer-botom-2">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-bootom-link cm-2-footer-bootom-link">
								<ul>
									<li>Full Copyright & Design By  <a href="#">@codemaxtheme</a> – 2024</li>
									<li>
										<span class="mr-20"><a href="#">Terms & Condition</a></span>
										<span><a href="#">Privacy Policy</a></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer-area-end -->