		<!-- footer-area-start -->
		<footer class="cm-section-plr-3 creame-bg">
			<div class="footer-botom footer-botom-2">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-bootom-link cm-2-footer-bootom-link">
								<ul>
									<li>©2025 Micheal Pys Headache and Pain Clinic All rights reserved</li>
									<!-- <li>
										<span class="mr-20"><a href="#">Terms & Condition</a></span>
										<span><a href="#">Privacy Policy</a></span>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer-area-end -->