		<!-- footer-area-start -->
		<footer class="cm-section-plr-3 creame-bg">
			<div class="footer-botom footer-botom-2">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="footer-bootom-link cm-2-footer-bootom-link">
								<ul>
									<li>©2025 Micheal Pys Headache and Pain Clinic All rights reserved</li>
								</ul>
							</div>
							<div>
								<p class="mb-35">
									Michael Pys Neuromuscular Pain Clinic is helping patients from Chicago and North Chicagoland suburbs: 
									Glenview, Northbrook, Highland Park, Lake Forest, Wilmette, Winnetka, Glencoe, Kenilworth, Lincolnwood, Wheeling, 
									Niles, Morton Grove, Evanston, Park Ridge, Lake Bluff, Vernon Hills, Mundelein, Libertiville, Waukegan.									
								</p>
							</div>							
						</div>
						<div class="footer-colum-single cm-2-footer-colum-single">
							<div class="footer-social">
								<ul>
									<li>
										<a href="https://www.facebook.com/profile/100063549164315"><i class="fa-brands fa-facebook-f"></i></a>
									</li>
									<li>
										<a href="https://www.youtube.com/@michaelpys364"><i class="fa-brands fa-youtube"></i></a>
									</li>
								</ul>
							</div>
						</div>	
						<div class="col-12">
							<div class="footer-bootom-link cm-2-footer-bootom-link">
								<ul>
									<li>
										<a href="https://maps.app.goo.gl/xBwKoTAHC27V6QFa6" target="_blank">181 Waukegan Road, Suite 103, Northfield, IL 60093</a>
									</li>
									<li>
										<a href="tel:+847-770-3332">+847-770-3332</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer-area-end -->