<section class="cm-service-area section-ptb"></section>
<section class="about-us2-area fix pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-30">
                <div class="cm-about-thumb-wrap p-relative">
                    <div class="cm-about-thumb">
                        <img class="w-100 br-round-14" src="/assets/img/about-1.jpg" alt="">
                    </div>
                    <div class="cm-about-thumb-2 p-absolute">
                        <img class="w-100 br-round-14" data-parallax='{"y": -30, "smoothness": 10}' src="/assets/img/about-2.jpg" alt="">
                    </div>
                    </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="cm-about-right-wrapper  wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="section-title mb-40">
                        <h5 class="mb-10">Successfully treating headaches and chronic pain since 1995</h5>
                        <p class="cm-section-title-para">
                            If you're here, it means you—or someone you love—is struggling with migraines or chronic headaches. And if medications and doctor visits haven't brought relief, you're far from alone—and not without hope.
                            <br />  <br />   
                            For over 30 years, I've helped hundreds of patients who felt lost, told their pain had no clear cause. But often, no one had truly looked at the head, neck, or jaw—the hidden sources where many headaches actually begin.
                            <br /> <br /> 
                            I'll share what I've learned beyond standard medicine—real tools, insights, and a hands-on approach that has transformed lives and eased pain when nothing else could.
                            <br /> <br /> 
                            What if your pain isn't a mystery? What if the answer has been within reach all along?
                        </p>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>