
<section class="about-us2-area fix pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 mb-10 center">
                <div class="cm-about-right-wrapper  wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="section-title mb-40">
                        <h5 class="mb-10">Successfully treating headaches and chronic pain since 1995</h5>                      
                        <p class="cm-section-title-para">
                            If you're visiting our website, most likely you or someone you care about is suffering
                            from migraines or headaches. It also probably means that traditional medical protocol
                            has failed to provide relief or a cure. I have had 30 years of practicing manual therapy
                            and will share with you my skill, experiences and the knowledge I have gained. It will
                            most likely include information about headaches and migraine you have never heard.
                            My goal is to help you, or the person you are concerned about, find relief.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-10">
                <div class="cm-about-thumb-wrap p-relative">
                    <div class="cm-about-thumb">
                        <img class="w-100 br-round-14" src="/assets/img/about-1.jpg" alt="">
                    </div>
                    <div class="cm-about-thumb-2 p-absolute">
                        <img class="w-100 br-round-14" data-parallax='{"y": -30, "smoothness": 10}' src="/assets/img/about-2.jpg" alt="">
                    </div>
                    </div>
            </div>
            <div class="col-lg-6 mb-10">
                <div class="cm-about-right-wrapper  wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">                   
                    <div class="section-title mb-40">
                        <div class="cm-about-list-wrap mb-30">
                            <p class="cm-section-title-para">
                            If you have any of the following symptoms, the headache you have is most likely caused
                            by the neck, even if you don't have neck pain, so keep reading. This website is especially
                            for you.
                            </p>
                            <br />
                            <div class="row">
                                <div class="cm-about-list-2">
                                    <ul>
                                    <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Headache is one-sided headache, which, for example occurs on the left, and the
                                        next episode on the right, that is, it swaps sides between episodes (or within the
                                        same episode).
                                    </li>
                                    <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Headache on both sides of the head at the same time, but is stronger on the left
                                        and other times on the right, this confirms that the neck is responsible for
                                        migraine headache.
                                    </li>
                                     <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Headache starting in the neck and/or headaches that go along with neck
                                        discomfort or stiffness.    
                                    </li>
                                     <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        One-sided headache or headache on both sides but stronger on the one (always the same) side.    
                                    </li>
                                      <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Headache triggered by sustained postures, for example neck forward.
                                    </li>
                                      <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Ongoing headache (4 weeks) after head and/or neck injury.
                                    </li>
                                      <li class="mb-15 d-inline-block">
                                        <span class="d-inline-block text-center"><i class="fa-sharp fa-solid fa-check"></i></span>
                                        Headache that is gradually becoming more frequent.
                                    </li>                                                                                                                                                                                
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <p class="cm-section-title-para">
                            Even if your headache symptoms aren't listed above, there is a very high chance the
                            treatment suggestions can be very helpful to you. 
                        </p>
                    </div>                
                </div>
            </div>
            <div class="col-lg-10 mb-30 center">
                <div class="cm-about-right-wrapper  wow fadeInRight" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="section-title mb-40">                  
                        <p class="cm-section-title-para">
                            I can't stress enough that it all begins by your understanding the anatomy of your
                            head pain and understanding that unless you have a skilled evaluation of your neck by
                            a manual osteopathic physician, osteopathic manual therapist, manual chiropractic
                            physician, manual physical therapist or neuromuscular therapist you are most likely
                            treating only your symptoms. 
                            <br /><br />
                            If you are taking medication for your migraine or
                            headache and your medical doctor's evaluation is only based on symptoms, you have
                            very little chance of getting a long-term solution. There is currently no medication or
                            other pharmacological treatment-procedure that I know of that treats the cause of
                            migraines or headaches.
                        </p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>