			<div class="cm-2-counter-area pt-120 pb-80">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-title text-center mb-60 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
								<h5 class="mb-10">Anyone can make promise</h5>
								<h2 class="mb-30">We can give you proof</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="video-area pb-130">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="cm-video-spacing bg-position cm-relative jarallax" data-background="assets/img/video/video-bg.jpg">
								<div class="cm-video-overly"></div>
								<div class="video-wrapper c-relative">
									<div class="play-button">
										<a href="https://www.youtube.com/watch?v=74DWwSxsVSs" class="play"><i class="fa-solid fa-play"></i></a>
										<div class="waves-block">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
											<div class="waves wave-3"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<div class="cm-3-testimonial-area creame-bg  pt-120 pb-130">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center mb-50">
                <h5 class="mb-10">Testimonials</h5>
                <h2 class="mb-30">Our clients review</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="cm-3-testimonial-3-wrap p-relative">
                <div class="cm-3-testimonial-3-slider-wrap p-relative">
                    <div class="swiper-container cm-3-testimonial-3-slider-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="cm-3-testimonial-3-content text-center">
                                <div class="cm-3-testimonial-3-ratngs mb-30">
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                </div>
                                <p>
                                    Penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Ut id lorem ac enim vestibulum
                                    blandit nec sit amet felis. Fusce quis diam odio. Cras mattis mi
                                    quis tincidunt
                                </p>
                                <div class="cm-3-testimonial-3-avater">
                                    <div class="cm-3-testimonial-3-avater-info">
                                        <h3 class="cm-3-testimonial-3-avater-title">Emila parker</h3>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="cm-3-testimonial-3-content text-center">
                                <div class="cm-3-testimonial-3-ratngs mb-30">
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                    <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                </div>
                                <p>
                                    Penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Ut id lorem ac enim vestibulum
                                    blandit nec sit amet felis. Fusce quis diam odio. Cras mattis mi
                                    quis tincidunt
                                </p>
                                <div class="cm-3-testimonial-3-avater">
                                    <div class="cm-3-testimonial-3-avater-info">
                                        <h3 class="cm-3-testimonial-3-avater-title">Albert flores</h3>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cm-3-testimonial-3-btn d-flex align-items-center justify-content-between">
                        <div class="cm-3-testimonial-prev"><i class="fa-sharp fa-regular fa-arrow-left"></i></div>
                        <div class="cm-3-testimonial-next"><i class="fa-sharp fa-regular fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>