<!-- hero-area-start -->
<section class="hero-area-five hero-area-five-space c-relative fix bg-position" data-background="/assets/img/hero.jpg">
    <div class="hero-main-wraper hero-wraper2">
        <div class="container-main">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-content text-center">
                        <div class="hero-title hero-title-five">
                            <h5 class="mb-20">Pys Headache and Pain Center</h5>
                            <h2 class="mb-60">Pys Headache Method&trade;</h2>
                            <!-- <div class="hero-btn count-btn">
                                <a class="cm-btn cm-btn-transparent br-round-50" href="service.html">
                                    <span class="explore-text" data-text="View Services">View Services</span> 
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero-area-end -->

<!-- welcome-area-start -->
<section class="welcome-area pb-80">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-6">
                <div class="new-welcome-left">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">Welcome!</h4>
                    <p class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                        My hope is that we be able to change your life by enabling you to feel better today and to prevent migraine tomorrow.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                        Michael Pys - Founder of Pys Headache Method&trade;
                        Recognized by many local medical doctors and other healthcare providers for its manual diagnostic accuracy and high results.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="new-welcome-right">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">Office hours</h4>
                    <div class="welcome-date">
                        <div class="single-date wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                            <span>Monday - Friday</span>
                            <span>08:00am - 07:00pm</span>
                        </div>
                        <div class="single-date wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                            <span>Saturday</span>
                            <span>08:00am - 03:00pm</span>
                        </div>
                        <div class="single-date new-time wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                            <span>Sunday</span>
                            <span>Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- welcome-area-end -->