<!-- hero-area-start -->
<section class="hero-area-five hero-area-five-space c-relative fix bg-position" data-background="/img/hero.jpg">
    <div class="hero-main-wraper hero-wraper2">
        <div class="container-main">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-content text-center">
                        <div class="hero-title hero-title-five">
                            <h5 class="mb-20">Quality Care Made Easy </h5>
                            <h2 class="mb-60">Driving Innovation <br>To Wellness</h2>
                            <div class="hero-btn count-btn">
                                <a class="cm-btn cm-btn-transparent br-round-50" href="service.html">
                                    <span class="explore-text" data-text="View Services">View Services</span> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero-area-end -->

<!-- welcome-area-start -->
<section class="welcome-area">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-6">
                <div class="new-welcome-left">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">Welcome carepoint</h4>
                    <p class="wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                        Physiotherapists use various techniques such as manual therapy, heat and cold therapy, and electrotherapy to alleviate pain and reduce inflammation
                    </p>
                    <div class="welcome-btn d-flex align-items-center wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                        <div class="star-satisfied-man">
                            <img src="assets/img/hero/avatar2.png" alt="Avatar3">
                        </div>
                        <div class="star-satisfied">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                            <span>Satisfied patient</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="new-welcome-right">
                    <h4 class="wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">Office hours</h4>
                    <div class="welcome-date">
                        <div class="single-date wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                            <span>Monday - Thursday</span>
                            <span>09:00am - 05:00pm</span>
                        </div>
                        <div class="single-date wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                            <span>Friday</span>
                            <span>01:00am - 05:00pm</span>
                        </div>
                        <div class="single-date new-time wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                            <span>Saturday - Sunday</span>
                            <span>09:30am - 04:00pm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- welcome-area-end -->