{{ define "main" }}
<section class="section section-single section-404 novi-background bg-overlay-70 novi-background context-dark">
  <div class="section-single-inner">
    <header class="section-single-header page-header">
      <div class="page-head-inner">
      </div>
    </header>

    <div class="section-single-main">
      <div class="container">
        <h1 class="title-modern">Page not found<span>404</span></h1>
        <p class="big text-spacing-25">You may have mistyped the address or the page may have moved.</p>
        <a class="button button-primary button-ujarak" href="{{ "/" | absURL }}">Go to home page</a>
      </div>
    </div>
    <div class="section-single-footer">
      <div class="container text-center">
        <p class="rights">
          <span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>{{.Site.Title}}</span> All rights reserved
          <br /><a href="https://jamstacksite.com">JAMStackSite</a>
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}
