{{ define "main" }}
</section>
<section class="cm-error-area pt-120 pb-120">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="cm-error-wrapper text-center">
              <div class="cm-error-thumb">
                  <img class="w-100" src="/assets/img/error/error.jpg" alt="Sorry We Can't Find That Page">
              </div>
              <h3 class="cm-error-title">Sorry We Can't Find That Page!</h3>
              <div class="cm-error-btn">
                <a class="theme-btn" href="/">Back Home</a>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
{{end}}
